{% extends 'base.html.twig' %}

{% block body %}
<h1>Voici ma première page avec Symfony!</h1>
<div>
<img src="entreprise.jpg"  alt="entreprise">
</div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos numquam, 
            animi perferendis soluta laboriosam quisquam qui aliquid ducimus sint voluptatum maxime, 
            corporis illum, nam atque sequi voluptas. Laudantium, alias fugit excepturi doloremque id 
            inventore. Doloremque consequuntur aut a id omnis.</p>

        <p>Cupiditate, impedit vel? Quod, id dolorem incidunt necessitatibus quibusdam, inventore soluta 
            reiciendis accusamus a temporibus eligendi voluptatem at aliquid. Rem accusantium harum assumenda
            laboriosam omnis praesentium facilis dolore repellat quos et quasi impedit reiciendis itaque, placeat, 
            pariatur aspernatur, nesciunt explicabo?</p>

{% endblock %}